.ratings {
  padding: 40px;
}

.reviewText {
  font-size: 14px;
}

.reviewHelpful {
  font-size: 12px;
  width: 15%;
}

.reviewInput {
  padding: 20px;
}

.reviewModal {
  width: 85%;
}

.reviewSummary {
  font-size: 22px;
  font-weight: bold;
}

.ratingsList {
  padding-top: 30px;
}

.uploadPhotos {
  font-size: 16px;
  padding: 10px;
  width: 30%;
}

.summaryField {
  width: 40%;
}

.inputField {
  padding: 30px;
  width: 80%;
}

.characteristics {
  padding: 10px;
}

.inputCharacteristics {
  padding: 10px;
}

.sortOptions {
  font-size: 16px;
  padding: 10px;
  width: 20%;
}

.barRatingBreakdown {
  font-size: 12px;
  width: 35%;
  background-color: grey;
}

.showMoreReviews {
  font-size: 18px;
  padding: 10px;
  width: 70%;
}

.addAReview {
  font-size: 20px;
  padding: 10px;
  width: 70%;
}

.submitReview {
  font-size: 20px;
  padding: 10px;
  width: 60%;
}

.cancelReview {
  font-size: 15px;
  width: 40%;
}
