.ratings {
  padding: 30px;
}

.reviewInput {
  padding: 20px;
}

.uploadPhotos {
  font-size: 16px;
  padding: 10px;
  width: 30%;
}

.summaryField {
  width: 40%;
}

.inputField {
  padding: 30px;
  width: 80%;
}

.characteristics {
  padding: 10px;
}

.inputCharacteristics {
  padding: 10px;
}

.sortOptions {
  font-size: 16px;
  padding: 10px;
  width: 35%;
}

.barRatingBreakdown {
  height: 20;
  width: 35%;
  background-color: grey;
}

.showMoreReviews {
  font-size: 18px;
  padding: 10px;
  width: 70%;
}

.addAReview {
  font-size: 20px;
  padding: 10px;
  width: 70%;
}

.submitReview {
  font-size: 20px;
  padding: 10px;
  width: 60%;
}

.cancelReview {
  font-size: 15px;
  width: 50%;
}
