.related-title {
  text-align: center;
}

.related-product {
  display: flex;
}

.related-carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.related-card {
  background-color: grey;
  height: 200px;
  width: 200px;
  margin: 20px;
  overflow-y: hidden;
  cursor: pointer;
}

/* Table */
.related-table {
  width: 100%;
  text-align: center;
}

.related-table > thead,
tbody > tr {
  border-bottom: 1px solid black;
}

/* Thumbnail */
.related-thumbnail > img {
  width: 100%;
}

/* Modal */
.modal-header > button {
  width: 5%;
  border: none;
}

.modal-header > button > span {
  font-size: x-large;
}

.modal-header > .close > .sr-only {
  visibility: hidden;
}

.related-modal {
  max-width: 50vw;
}
