.product-offer {
  margin: 10px;
  text-align: center;
}

.product-details {
  height: 500px;
}

.product-image-gallery {
  height: 100%;
  border: 4px dotted grey;
}

.product-image-selection {
  height: 80%;
  border: 2px dotted lightgray;
}

.product-mini-image {
  height: 20%;
  border: 2px dotted lightgray;
}

.product-selection {
  height: 100%;
  border: 4px dotted gray;
}

.product-information {
  height: 30%;
  border: 2px dotted lightgray;
}

.product-review {
  /* height: 10%; */
  /* border: 2px dotted lightgray; */
}

.product-title {
  /* height: 0%; */
  font-size: 20px;
  /* border: 2px dotted lightgray; */
}

.product-styles {
  height: 40%;
  border: 2px dotted lightgray;
}

.product-size-quantity {
  height: 10%;
  border: 2px dotted lightgray;
}

.product-atc {
  height: 10%;
  border: 2px dotted lightgray;
}
